html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative; /* Required for positioning the pseudo-element */
}

#root::before {
    content: '';
    background-image: url("../src/Assets/Images/stats1.jpeg"); 
    background-size: cover; 
    background-position: center;
    opacity: 0.7; /* Adjust the opacity value (0.0 to 1.0) */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

a {
    color: yellow;
}

form {
    width: 300px;
    border: 1px solid;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 5px 5px 10px;
    text-align: left;
}

form > input, form > button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
